<head>
  <link href="<%= url 'stylesheets/lobby.css' %>" rel="stylesheet">
</head>
<body>
  <header>
    <span>LOAN CALCULATOR</span>
  </header>

  <form action="/result">
    <div class="inputs-area">
      <label for="amount">Credit amount</label>
      <input id="amount" name="amount" required pattern="\d+(\.)?\d*" value="1000"></input>

      <label for="period">Credit period (monthes)</label>
      <input id="period" name="period" required pattern="\d+" value="12"></input>

      <label for="year-rate">Per year rate (%)</label>
      <input id="year-rate" name="rate" required pattern="\d+(\.)?\d*" value="20"></input>

      <button type="submit">Calculate</button>
    </div>
  </form>
</body>
