body {
  color: orange;
  background: linear-gradient(#2F4F4F, #5F9EA0, #2F4F4F);
}

input {
  display: block;
}

header {
  text-align: center;
  padding-bottom: 10px;
}

.inputs-area {
  padding: 20px;
  width: 175px;
  margin: auto;
  border-radius: 10px;
  border: 1px solid #6A5ACD;
}

button {
  display: block;
  margin: 10px auto;
}
